@media (min-width:768px) {
    #notification {
        left: 50px;
    }
    #notification:not(.show) {
        bottom: -100px;
        animation: 200ms ease-in-out hidenotpc
    }
    #notification.show {
        animation: 200ms ease-in-out shownotpc;
        bottom: 30px;
    }
}

@media (max-width:768px) {
    #notification {
        left: 50%;
        transform: translate(-50%)
    }
    #notification:not(.show) {
        top: -100px;
        animation: 200ms ease-in-out hidenotmobile
    }
    #notification.show {
        animation: 200ms ease-in-out shownotmobile;
        top: 50px;
    }
}

#notification {
    height: auto;
    position: fixed;
    z-index: 10010;
    width: 300px;
    font-size: 15pt;
    user-select: none;
    border-radius: 4px;
    background-color: var(--main-background, #292c2d);
    color: var(--white-color, #fff);
    padding: 8px 24px;
    opacity: 1;
    overflow: hidden;
    max-width: 300px;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.14), 0 5px 6px -2px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.12);
    .ntitle {
        margin-top: 5px;
        font-size: 20pt;
        padding-bottom: 10px;
        text-transform: uppercase
    }
    .nbody {
        word-break: keep-all;
    }
    &.pulse {
        overflow: visible;
    }
    &.pulse::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--red-color,inherit);
        border-radius: inherit;
        transition: opacity .3s, transform .3s;
        animation: pulse-animation 1.5s cubic-bezier(0.24, 0, 0.38, 1) infinite;
        z-index: -1;
    }
    .close {
        opacity: 0;
        user-select: none;
        cursor: pointer;
        position: absolute;
        right: 7px;
        top: 50%;
        transform: translateY(-50%);
        background: var(--red-color, #fe6a6a);
        color: var(--white-color, #000);
        transition: .1s all ease-in-out;
        border-radius: 5px;
        &:hover {
            opacity: 1;
        }
    }
    &:hover .close:not(:hover) {
        opacity: .5;
    }
}

.err {
    border: 2px solid var(--red-color, #fe6a6a);
    --red-color: #fe6a6a
}

.succ {
    border: 2px solid var(--green-color, #05d62a);
    --red-color: var(--main-theme-color, #05d62a)
}

@keyframes shownotpc {
    0% {
        bottom: -100px;
    }
    100% {
        bottom: 30px;
    }
}

@keyframes hidenotpc {
    0% {
        bottom: 30px;
    }
    100% {
        bottom: -100px;
    }
}

@keyframes shownotmobile {
    0% {
        top: -100px;
    }
    100% {
        top: 50px;
    }
}

@keyframes hidenotmobile {
    0% {
        top: 50px;
    }
    100% {
        top: -100px;
    }
}

@keyframes pulse-animation {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
}