@font-face {
    font-family: Bignoodletoo;
    src: url(./bignoodletoo.ttf);
    font-style: normal;
}
body {
    font-family: Bignoodletoo;
    font-weight: 500;
    font-size: 14pt;
    padding: 0;
    margin: 0
}

.main {
    display: block
}
.serv {
    background:rgba(197, 193, 193, 0.85);
}
.main div {
    padding: 3px;
    position: relative;
}
.main div:nth-child(1){
    width: 90px;
    border-bottom-right-radius: 10px
}
.main div:nth-child(2){
    width: 70px;
    border-bottom-right-radius: 10px
}
.vk a:first-of-type{
    color: #3970b8;
}
.youtube a:first-of-type{
    color: #ff0000;
}
.twitch a:first-of-type{
    color: #4800cc;
}