body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14pt;
    padding: 0;
    margin: 0
}
#social {
    position: absolute;
    left: 0;
    top: 0;
}
.vk {
    color: #3970b8;
}
.yt {
    color: #ff0000;
}
.tw {
    color: #4800cc;
}
.main {
    color: white;
    padding: 3px;
    padding-right: 5px;
    position: relative;
    width: fit-content;
    background: #6a6868de;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}