@font-face {
    font-family: Bignoodletoo;
    src: url(/css/fonts/bignoodletoo.ttf);
}
body {
    background-image:url(/img/overlay.png);
    background-repeat: no-repeat;
}
.cont {
    margin-left: +52px;
    margin-top: +16px;
    width: 100%;
    height: 100%;
}
#Time {
    margin-top: +0px;
    margin-left: +42px;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: Bignoodletoo;
    font-size: 15.5pt;
    color: yellow;
}
#Date {
    margin-top: +0px;
    margin-left: +0px;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: Bignoodletoo;
    font-size: 15.5pt;
    color: yellow;
}
#Subs {
    top: +9px;
    left: +20px;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: Bignoodletoo;
    font-size: 16.5pt;
    color: yellow;
}
#TSubs {
    top: +24px;
    left: +12px;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: Bignoodletoo;
    font-size: 16pt;
    color: yellow;
}