@media (min-width:768px) {
    .small-screen {
        display: none !important
    }
}

@media (max-width:768px) {
    .large-screen {
        display: none !important
    }
}

.mdl-layout__drawer-button {
    background: transparent !important
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    //border-left: #1f1f1f1c 1px solid;
}

::-webkit-scrollbar-thumb {
    background-color: #009BDA;
    border: #fff 1px solid;
    border-right: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    &:hover {
        widows: 14px;
    }
}

.link {
    font-weight: 500;
    transition: all .1s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    &:not(:hover) {
        background: transparent;
        color: var(--white-color, #fff) !important;
    }
    padding: 7px 5px;
    margin-top: -7px;
    margin: 0 5px;
    &:hover {
        &:not(:hover) {
            color: #fff !important;
            background-color: initial;
        }
        &:hover {
            color: #009BDA !important;
            background-color: #1f1f1fa8
        }
    }
}

.button {
    &:not(:hover) {
        color: #fff !important;
        background-color: initial;
    }
    &:hover {
        color: #009BDA !important;
        background-color: #1f1f1f
    }
}

.hidden {
    display: none !important
}

a {
    text-decoration: none;
    &.simple-text {
        cursor: pointer;
    }
}

.main {
    color: var(--white-color);
    background-color: var(--dark-grey);
    margin-top: 10px;
    padding: 10px;
    min-height: 44px;
    position: relative;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

main {
    background-color: #008ec7 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

footer {
    background-color: #009BDA !important
}

footer .mdl-logo {
    border-right: #6e6e6e solid 2px;
    padding: 0 20px;
}